!Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized

! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900
!
!! Dark
!
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
!

! Light

!#define S_base03        #fdf6e3
!#define S_base02        #eee8d5
!#define S_base01        #93a1a1
!#define S_base00        #839496
!#define S_base0         #657b83
!#define S_base1         #586e75
!#define S_base2         #073642
!#define S_base3         #002b36
!
! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

!URxvt*depth: 32
!URxvt*background:              [60]#000000
!URxvt*foreground:              S_blue
!URxvt*cursorColor:             S_base1
!URxvt*pointerColorBackground:  S_base01
!URxvt*pointerColorForeground:  S_base1
!URxvt*color0:                  S_base02
!URxvt*color1:                  S_red
!URxvt*color2:                  S_green
!URxvt*color3:                  S_yellow
!URxvt*color4:                  S_blue
!URxvt*color5:                  S_magenta
!URxvt*color6:                  S_cyan
!URxvt*color7:                  S_base2
!URxvt*color9:                  S_orange
!URxvt*color8:                  S_base03
!URxvt*color10:                 S_base01
!URxvt*color11:                 S_base00
!URxvt*color12:                 S_base0
!URxvt*color13:                 S_violet
!URxvt*color14:                 S_base1
!URxvt*color15: 		       S_base3
!URxvt*scrollbar: 	       false
! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: URxvt*background: #1d2021
URxvt*depth: 32
URxvt*background: [60]#282828
! soft contrast: URxvt*background: #32302f
URxvt*foreground: #ebdbb2
! Black + DarkGrey
URxvt*color0:  #282828
URxvt*color8:  #928374
! DarkRed + Red
URxvt*color1:  #cc241d
URxvt*color9:  #fb4934
! DarkGreen + Green
URxvt*color2:  #98971a
URxvt*color10: #b8bb26
! DarkYellow + Yellow
URxvt*color3:  #d79921
URxvt*color11: #fabd2f
! DarkBlue + Blue
URxvt*color4:  #458588
URxvt*color12: #83a598
! DarkMagenta + Magenta
URxvt*color5:  #b16286
URxvt*color13: #d3869b
! DarkCyan + Cyan
URxvt*color6:  #689d6a
URxvt*color14: #8ec07c
! LightGrey + White
URxvt*color7:  #a89984
URxvt*color15: #ebdbb2
URxvt*scrollbar: false

 
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb:

#define font1         DejaVu Sans mono for powerline 
#define font2         Noto Emoji
#define font3         DejaVu Sans mono for powerline
#define font4         Symbola

URxvt*letterSpace: 0
URxvt*font:           xft:font1:pixelsize=14, xft:font2:pixelsize=14:minspace=false, xft:font3:pixelsize=14,xft:font4:pixelsize=14
URxvt*boldFont:       xft:font1:bold:pixelsize=14, xft:font2:pixelsize=14:minspace=False,xft:font3:pixelsize=14,xft:font4:pixelsize=14
URxvt*italicFont:     xft:font1:italic:pixelsize=14, xft:font2:pixelsize=14:minspace=False,xft:font3:pixelsize=14,xft:font4:pixelsize=14
URxvt*boldItalicFont: xft:font1:bold:italic:pixelsize=14, xft:font2:pixelsize=14:minspace=False, xft:font3:pixelsize=14, xft:font4:pixelsize=14
URxvt.scrollBar:	false
URxvt*letterSpace: 0


!!rofi
rofi.color-enabled:	true
rofi.color-window:	#000, #000, #000
rofi.color-normal:	#111, #819396, #222, #008ed4, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent:	#002b37, #da4281, #003643, #008ed4, #890661

rofi.fake-transparency:	true
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar: true
